@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root
{
	--black: #333;
	--light-color: #cdaa7c;
	--box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
*
{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	text-transform: capitalize;
	transition: all .2s linear;
}
html
{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body{
    background-color: #010103;
}
/*navbar style start*/
header
{
    background-color: #13131A;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--box-shadow);
	z-index: 10000;
}
header .logo img 
{
	height: 5vw;
}
header .navbar a 
{
	font-size: 1.7rem;
	padding: .5rem 1.5rem;
	color: var(--light-color);
	border: .1rem solid transparent;
}
header .navbar a.active,
header .navbar a:hover
{
	color: #fff;
	border: .1rem solid rgba(205, 170, 124, 0.2);
} 
header .icons i 
{
	cursor: pointer;
	margin-left: .5rem;
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	background: var(--light-color);
	text-align: center;
	font-size: 1.7rem;
	color: #fff;
}
header .icons i:hover
{
	color: #fff;
	background: var(--light-color);
	transform: rotate(360deg);
}
header .icons #menu
{
	display: none;
}

/*navbar style end here*/

/*slider style start*/
.slider_container{
    padding: 2rem 7%;
}
.home .home-slider .slide
{
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: flex-start;
}
.home .home-slider .slide1 
{
	background: url(/assets/images/IMG-20221230-WA0007.jpg);
}
.home .home-slider .slide2
{
	background: url(/assets/images/IMG-20221230-WA0008.jpg);
}
.home .home-slider .slide3
{
	background: url(/assets/images/IMG-20221230-WA0009.jpg);
}
.home .home-slider .slide4
{
	background: url(/assets/images/IMG-20221230-WA0011.jpg);
}
.home .home-slider .slide5
{
	background: url(/assets/images/IMG-20221230-WA0013.jpg);
}
.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3
.home .home-slider .slide4,
.home .home-slider .slide5

{
	background-size: cover;
	background-repeat: no-repeat;
}
.home .home-slider .slide .content
{
	text-align: center;
	padding-left: 9rem;
}
.home .home-slider .slide .content h3
{
	color: var(--light-color);
	font-size: 3rem;
	font-weight: 300;
}
.home .home-slider .slide .content h1
{
	color: #fff;
	font-size: 8rem;
}
.home .home-slider .slide .content p 
{
	color: #e6e7e7;
	font-size: 1.8rem;
	letter-spacing: 1px;
	padding: .5rem 0;
	line-height: 1.5;
	font-weight: 200;
}
.btn
{
	margin-top: 1rem;
	display: inline-block;
	font-size: 1.7rem;
	color: #fff;
	border: .1rem solid rgba(205,170,124,0.2);
	background: transparent;
	cursor: pointer;
	padding: .8rem 3rem;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn:before
{
	content: '';
	width: 100%;
	height: 100%;
	background: var(--light-color);
	z-index: -1;
	position: absolute;
	top: 0;
	left: -100%;
	transition: .5s;
}
.btn:hover.btn:before
{
	left: 0;
}
.swiper-pagination-bullet
{
	background: var(--light-color)!important;
	width: 15px!important;
	height: 15px!important;
	border-radius: 0!important;
}

/*slider style end*/

/*welcome style start*/
section
{
	padding: 8rem 9%;
}
.heading
{
	text-align: center;
	color: var(--black);
    color: #FFFFFF;
	font-size: 4.5rem;
	padding-bottom: 2rem;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}
.sub-heading
{
	text-align: center;
	color: var(--light-color);
	font-size: 2.5rem;
	padding: .5rem 2rem;
	font-weight: 300;
	margin-bottom: 4rem;
	background: var(--black);
	display: inline-block;
}

.welcome .box-container
{
	display: flex;
	gap: 1.5rem;
}
.welcome .box-container .box
{
	width: 33%;
	/* background: var(--black); */
    background-color: #eee;
	box-shadow: var(--box-shadow);
	text-align: center;
	padding-bottom: 1%;
}
.welcome .box-container .box .image
{
	height: 25rem;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.welcome .box-container .box .image img 
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.welcome .box-container .box .image:hover img 
{
	transform: scale(1.1);
}
.welcome .box-container .box .content 
{
	padding: 2rem;
	padding-top: 2rem;
}
.welcome .box-container .box .content h3
{
    color: #000000;
	font-size: 2.2rem;
	font-weight: 400;
}
.welcome .box-container .box .content p 
{
	color: #000000;
	font-size: 1.4rem;
	font-weight: 300;
	padding: .5rem 0;
	line-height: 1.5;
}
/*welcome style end*/

/*footer style start*/
.footer
{
	background: #2F2721;
	text-align: center;
	color: #b2b2b2;
	font-size: 1.3rem;
}
.footer .container
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem,2fr));
	color:#CCCCCC;
	grid-gap: 1rem;
	padding: 4rem 0;
	border-bottom: 1px solid #b2b2b2;
}
.footer .container div
{
	padding: 0 7rem;
}
.footer .container h4
{
	color: #FFFFFF;
	font-size: 1.8rem;
	padding-bottom: .8rem;
}
.footer .container p{
    font-size: 15px;
}
.footer .container input
{
	width: 100%;
	border: 1px solid #b2b2b2;
	padding: .5rem .8rem;
	background: transparent;
	border-radius: 20px;
}
.footer .container ul 
{
	list-style: none;
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}
.footer .container ul li a 
{
	color: #b2b2b2;
	margin-left: 10px;
	font-size: 18px;
}
.footer .container span 
{
	display: block;
}
.quicklinks a{
    text-decoration: none;
    color:#e6e7e7 ;
}
.quicklinks{
    margin-top: 20px;
    font-size: 1.3vw;

}
.quicklinks a:hover{
    color: #e68541;
    text-decoration: underline;
}

.social-links{
    display: flex;
    justify-content: center;
    }
    .social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
    }
    .social-links a:hover{
    color: #f7327a;
    border-color: #f7327a;
    }
    .end{
        color: #CCCCCC;
        font-size: 18px;
    }
/*footer style ends*/



/*custom scroll bar*/

::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-track{
	background: #333;
}
::-webkit-scrollbar-thumb{
	background: #cdaa7c;
}

/*jump to top*/
.topbtn
{
	position: fixed;
	right: 2%;
	bottom: 10%;
	width: 30px;
	height: 30px;
	background: #cdaa7c;
	color: #fff;
	cursor: pointer;
}




/*media query*/
@media (max-width: 991px)
{
	html
	{
		font-size: 55%;
	}
	header
	{
		padding: 1rem 2rem;
	}
	header .logo img
	{
		height: 7rem;
	}
	.our-menu .menu-container
	{
		grid-template-columns: repeat(auto-fit,minmax(30rem,2fr));
	}
	.our-menu .menu-container .item .item-menu span 
	{
		width: 15%;
	}

}
@media (max-width: 768px)
{
	/*navbar media query*/
	header .logo img
	{
		height: 7rem;
	}
	header .icons #menu
	{
		display: inline-block;
	}
	header .navbar
	{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #eee;
		border-top: .1rem solid rgba(205,170,124,0.2);
		border-bottom: .1rem solid rgba(205,170,124,0.2);
		padding: 1rem;
		clip-path: polygon(0 0,100% 0,100% 0,0 0);
	}
	header .navbar.active
	{
		clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
	}
	header .navbar a 
	{
		display: block;
		padding: 1.5rem;
		margin: 1rem;
		font-size: 2rem;
		background: var(--black);
	}

	

	/*slider media query*/
	.home .home-slider .slide
	{
		justify-content: center;
		height: 80vh;
	}
	.home .home-slider .slide .content
	{
		padding: 0;
	}
	.home .home-slider .slide .content h1
	{
		font-size: 7rem;
	}

	/*welcome section*/

	.welcome .box-container
	{
		flex-wrap: wrap;
	}
	.welcome .box-container .box 
	{
		width: 100%;
	}
	.reservation .image
	{
		width: 0;
	}
	.reservation .form
	{
		width: 100%;
	}
	.reservation .form .form-holder
	{
		display: block;
	}
}



.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(/assets/images/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}


@media (max-width:768px){

.home{
    background-position: left;
    justify-content: center;
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
}

.home .content p{
    font-size: 1.5rem;
}

}
